* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.wrapper {
  width: 600px;
  padding: 20px;
  border: 1px solid rgba(239, 72, 54, 0.5);
  margin: 50px auto; }
  .wrapper .comment-input {
    padding: 20px 10px;
    border: 1px solid rgba(239, 72, 54, 0.5);
    margin-bottom: 20px; }
    .wrapper .comment-input .username-input {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 20px; }
      .wrapper .comment-input .username-input span {
        display: block;
        width: 90px;
        padding: 5px;
        text-align: center; }
      .wrapper .comment-input .username-input input {
        width: 400px;
        height: 31px;
        padding: 2px 10px;
        border: 1px solid rgba(239, 72, 54, 0.5);
        border-radius: 3px; }
    .wrapper .comment-input .content-input {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 20px; }
      .wrapper .comment-input .content-input span {
        display: block;
        width: 90px;
        padding: 5px; }
      .wrapper .comment-input .content-input textarea {
        width: 400px;
        height: 100px;
        padding: 10px;
        border: 1px solid rgba(239, 72, 54, 0.5);
        border-radius: 3px; }
        .wrapper .comment-input .content-input textarea::-webkit-input-placeholder {
          font-size: 24px;
          font-family: '"Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif';
          color: rgba(239, 72, 54, 0.5); }
        .wrapper .comment-input .content-input textarea::-moz-placeholder {
          font-size: 24px;
          font-family: '"Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif';
          color: rgba(239, 72, 54, 0.5); }
        .wrapper .comment-input .content-input textarea:-moz-placeholder {
          font-size: 24px;
          font-family: '"Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif';
          color: rgba(239, 72, 54, 0.5); }
        .wrapper .comment-input .content-input textarea:-ms-input-placeholder {
          font-size: 24px;
          font-family: '"Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif';
          color: rgba(239, 72, 54, 0.5); }
    .wrapper .comment-input button {
      float: right;
      width: 80px;
      height: 30px;
      border: 1px solid rgba(239, 72, 54, 0.5);
      border-radius: 3px;
      margin-right: 45px;
      letter-spacing: 10px;
      text-indent: 10px;
      color: white;
      background: #ef4836; }
      .wrapper .comment-input button:hover {
        background: rgba(239, 72, 54, 0.8); }
    .wrapper .comment-input:after {
      content: '';
      display: block;
      clear: both; }
  .wrapper .comment-list .comment {
    padding: 10px;
    border: 1px solid rgba(239, 72, 54, 0.5);
    margin-bottom: 15px; }
    .wrapper .comment-list .comment .comment-username {
      font-size: 20px;
      font-weight: bold;
      color: #ef4836; }
    .wrapper .comment-list .comment p {
      word-wrap: break-word;
      margin: 10px 15px; }
    .wrapper .comment-list .comment .comment-operation {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px; }
      .wrapper .comment-list .comment .comment-operation .comment-reply {
        display: flex;
        justify-content: flex-start;
        width: 30%;
        margin-left: 15px; }
        .wrapper .comment-list .comment .comment-operation .comment-reply span {
          color: #ef4836; }
          .wrapper .comment-list .comment .comment-operation .comment-reply span:hover {
            color: rgba(239, 72, 54, 0.5); }
      .wrapper .comment-list .comment .comment-operation .comment-detail {
        display: flex;
        justify-content: flex-end;
        width: 70%; }
        .wrapper .comment-list .comment .comment-operation .comment-detail .comment-detail-separate {
          font-weight: bold;
          color: #ef4836;
          margin: 0 5px; }
        .wrapper .comment-list .comment .comment-operation .comment-detail .comment-delete {
          color: #bebebe; }
          .wrapper .comment-list .comment .comment-operation .comment-detail .comment-delete:hover {
            color: #ef4836; }

/*# sourceMappingURL=index.css.map */
