*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

$border:1px solid rgba(239, 72, 54, .5);
$border-radius:3px;
@mixin placeholder-setting ($fontSize, $fontFamily, $color) {
	&::-webkit-input-placeholder{
		font-size:$fontSize; 
		font-family:$fontFamily; 
		color:$color;
	}
	&::-moz-placeholder{
		font-size:$fontSize; 
		font-family:$fontFamily; 
		color:$color;
	}
	&:-moz-placeholder{
		font-size:$fontSize; 
		font-family:$fontFamily; 
		color:$color;
	}
	&:-ms-input-placeholder{
		font-size:$fontSize; 
		font-family:$fontFamily; 
		color:$color;
	}
}

.wrapper{
	width:600px;
	padding:20px;
	border:$border;
	margin:50px auto;

	// CommentInput样式
	.comment-input{
		padding:20px 10px;
		border:$border;
		margin-bottom:20px;

		// UsernameInput样式
		.username-input{
			display:flex;
			justify-content:center;
			align-items:flex-start;
			margin-bottom:20px;

			span{
				display:block;
				width:90px;
				padding:5px;
				text-align:center;
			}

			input{
				width:400px;
				height:31px;
				padding:2px 10px;
				border:$border;
				border-radius:$border-radius;
			}
		}

		// ContentInput样式
		.content-input{
			display:flex;
			justify-content:center;
			align-items:flex-start;
			margin-bottom:20px;

			span{
				display:block;
				width:90px;
				padding:5px;
			}

			textarea{
				width:400px;
				height:100px;
				padding:10px;
				border:$border;
				border-radius:$border-radius;

				@include placeholder-setting(24px, '"Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif', rgba(239, 72, 54, .5))
			}
		}

		// button样式
		button{
			float:right;
			width:80px;
			height:30px;
			border:$border;
			border-radius:$border-radius;
			margin-right:45px;
			letter-spacing:10px;
			text-indent:10px;
			color:rgb(255, 255, 255);
			background:rgb(239, 72, 54);

			&:hover{
				background:rgba(239, 72, 54, .8);
			}
		}

		//利用伪类清除<button>右浮动引起的"塌陷"
		&:after{
			content:'';
			display:block;
			clear:both;
		}
	}

	// CommentList样式
	.comment-list{
		
		// Comment样式
		.comment{
			padding:10px;
		    border:$border;
		    margin-bottom:15px;

		    // Comment中用户名样式
		    .comment-username{
		    	font-size:20px;
		    	font-weight:bold;
		    	color:rgb(239, 72, 54);
		    }

		    // Comment中评论内容样式
		    p{
		    	word-wrap:break-word;
		    	margin:10px 15px;
		    }

		    // Comment中操作内容样式
		    .comment-operation{
		    	display:flex;
		    	justify-content:flex-start;
		    	margin-bottom:10px;

		    	.comment-reply{
		    		display:flex;
		    		justify-content:flex-start;
		    		width:30%;
		    		margin-left:15px;
		    		
		    		span{
		    			color:rgb(239, 72, 54);

			    		&:hover{
			    			color:rgba(239, 72, 54, .5);
			    		}
		    		}
		    	}

		    	.comment-detail{
		    		display:flex;
		    		justify-content:flex-end;
		    		width:70%;

			    	.comment-detail-separate{
			    		font-weight:bold;
			    		color:rgb(239, 72, 54);
			    		margin:0 5px;
			    	}

			    	.comment-delete{
			    		color:rgb(190, 190, 190);

			    		&:hover{
			    			color:rgb(239, 72, 54);
			    		}
			    	}
		    	}
		    }
		}
	}
}